<!--begin::Subheader-->

<div class="subheader py-3" [ngClass]="subheaderCSSClasses" id="kt_subheader" style="padding: 2rem 2.25rem;">
	<div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap container-fluid">
		<!-- [ngClass]="subheaderContainerCSSClasses" -->

		<div class="d-flex align-items-center mr-1">
			<ng-container *ngIf="subheaderMobileToggle">
				<!--begin::Mobile Toggle-->
				<button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none"
					id="kt_subheader_mobile_toggle">
					<span></span>
				</button>
				<!--end::Mobile Toggle-->
			</ng-container>

			<!--begin::Page Heading-->
			<div class="d-flex align-items-baseline flex-wrap mr-5">
				<a href="/" class="brand-logo mr-5">
					<img alt="Logo" src="./assets/images/varigene_v3.png" class="max-h-50px" />
				</a>
				<a href="/workspaces" [ngClass]="getCurrentUrl('workspaces')"
					class="btn btn-text-primary btn-hover-light-primary font-weight-bold mr-2 cursor-pointer">
					WorkSpaces
				</a>
				<a href="/analyses" [ngClass]="getCurrentUrl('/analyses')"
					class="btn btn-text-primary btn-hover-light-primary font-weight-bold mr-2 cursor-pointer">
					Analyses
				</a>
				<!-- <a href="/samples" [ngClass]="getCurrentUrl('samples')"
          class="btn btn-text-primary btn-hover-light-primary font-weight-bold mr-2 cursor-pointer"
        >
          Samples
        </a> -->
				<a href="/pipeline" [ngClass]="getCurrentUrl('pipeline')"
					class="btn btn-text-primary btn-hover-light-primary font-weight-bold mr-2 cursor-pointer">
					Pipeline
				</a>
				<a href="/upload" [ngClass]="getCurrentUrl('/upload')"
					class="btn btn-text-primary btn-hover-light-primary font-weight-bold mr-2 cursor-pointer">
					Upload
				</a>
				<a href="/user-management" *ngIf="user.role == 0" [ngClass]="getCurrentUrl('/user-management')"
					class="btn btn-text-primary btn-hover-light-primary font-weight-bold mr-2 cursor-pointer">
					Users
				</a>

				<!--begin::Page Title-->
				<!-- <ng-container *ngIf="title$ | async as _title">
          <h2
            class="d-flex align-items-center text-dark font-weight-bold my-1 mr-3"
          >
            {{ _title }}
            <ng-container *ngIf="subheaderDisplayDesc">
              <ng-container *ngIf="description$ | async as _description">
                <small>{{ _description }}</small>
              </ng-container>
            </ng-container>
          </h2>

        </ng-container> -->
				<!--end::Page Title-->
				<!--begin::Breadcrumb-->
				<!-- <ul
          class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold my-2 p-0"
        >
          <li
            class="breadcrumb-item"
            *ngFor="let bc of breadcrumbs$ | async"
            routerLinkActive="active"
          >
            <a [routerLink]="bc.linkPath" class="text-muted">
              {{ bc.linkText }}
            </a>
          </li>
        </ul> -->
				<!--end::Breadcrumb-->
			</div>
			<!--end::Page Heading-->
		</div>

		<div class="d-flex align-items-center flex-wrap">
			<div class="input-group input-group-sm input-group-solid max-w-175px mr-2">
				<input type="text" class="form-control pl-4" placeholder="Search..." />
				<div class="input-group-append">
					<span class="input-group-text">
						<span [inlineSVG]="'./assets/media/svg/icons/General/Search.svg'" cacheSVG="true"
							class="svg-icon svg-icon-md"></span>
					</span>
				</div>
			</div>
			<app-topbar></app-topbar>&nbsp;&nbsp;
			<div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left"
				placement="bottom-right" ngbDropdown>
				<a class="btn btn-icon btn-light-primary btn-sm cursor-pointer" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
					<i class="ki ki-plus icon-1x"></i>
				</a>
				<div ngbDropdownMenu class="dropdown-menu p-0 m-0 dropdown-menu-md dropdown-menu-right">
					<app-dropdown-menu2></app-dropdown-menu2>
				</div>
			</div>

			<!-- <a
        class="btn btn-primary btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2"
      >
        <span
          [inlineSVG]="'./assets/media/svg/icons/Communication/Add-user.svg'"
          cacheSVG="true"
          class="svg-icon svg-icon-lg"
        ></span>
        <span class="d-none d-md-inline">New Member</span>
      </a>

      <div
        class="dropdown dropdown-inline"
        data-toggle="tooltip"
        title="Quick actions"
        data-placement="left"
        placement="bottom-right"
        ngbDropdown
      >
        <a
          class="btn btn-primary btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ngbDropdownToggle
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Files/File.svg'"
            cacheSVG="true"
            class="svg-icon svg-icon-lg"
          ></span>
          <span class="d-none d-md-inline">New Report</span>
        </a>
        <div
          class="dropdown-menu p-0 m-0 dropdown-menu-md dropdown-menu-right"
          ngbDropdownMenu
        >
          <app-dropdown-menu1></app-dropdown-menu1>
        </div>
      </div>

      <a
        class="btn btn-primary btn-icon font-weight-bold"
        data-toggle="modal"
        data-target="#kt_chat_modal"
      >
        <span
          [inlineSVG]="'./assets/media/svg/icons/Communication/Group-chat.svg'"
          cacheSVG="true"
          class="svg-icon svg-icon-lg"
        ></span>
      </a> -->

		</div>

	</div>
</div>
<!--end::Subheader-->