table {
    width: 100%;
    table-layout: fixed;
}

td, th {
  border: 1px solid lightgray;
  text-align: left;
  padding: 8px;
  height: 100px;
  overflow: hidden;
}

// tr:nth-child(odd) {
//   background-color: #3f425414;
// }

// tr:nth-child(even) {
//   background-color: #dddddd;
// }
