

  <div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">Pipelines</h3>
        </div>
      </div>
      <div class="card-body">

          <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <tbody>
                  <tr>
                    <td style="width: 20%; color: #0000ff8f;"><a href="/workspaces/index/1">DNAseq</a></td>
                    <td style="width: 20%;">v1.0.1</td>
                    <td>
                        Variant detection and annotation for germline samples<br>
                        <div style="padding-left: 5%;">
                            Whole Genome Sequencing, Whole Exome Sequencing<br>
                            Targeted Genes panels<br>
                            A Single Gene
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="color: #0000ff8f;"><a href="javascript:void(0)">ctDNA</a>
                    </td>
                    <td>v0.1</td>
                    <td>
                        Circulating Tumor DNA<br>
                        <div style="padding-left: 5%;">Low Allele faction detection</div>
                    </td>
                  </tr>
                  <tr>
                    <td style="color: #0000ff8f;"><a href="javascript:void(0)">RNASeq</a>
                    </td>
                    <td>v0.1</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
          </div>            
      </div>
</div>