<div class="card card-custom gutter-b">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">Upload List</h3>
		</div>
		<div class="card-toolbar">
			<button type="button" class="btn btn-primary"  (click)="openModalUpload()">Upload
                <span class="svg-icon svg-icon-primary" style="margin-right: 0;">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" width="24px"
                        height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path
                                d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z"
                                fill="#000000" stroke="#fff" fill-rule="nonzero" opacity="0.3" />
                            <rect fill="#000000" stroke="#fff" opacity="0.3" x="11" y="2" width="2" height="14" rx="1" />
                            <path
                                d="M12.0362375,3.37797611 L7.70710678,7.70710678 C7.31658249,8.09763107 6.68341751,8.09763107 6.29289322,7.70710678 C5.90236893,7.31658249 5.90236893,6.68341751 6.29289322,6.29289322 L11.2928932,1.29289322 C11.6689749,0.916811528 12.2736364,0.900910387 12.6689647,1.25670585 L17.6689647,5.75670585 C18.0794748,6.12616487 18.1127532,6.75845471 17.7432941,7.16896473 C17.3738351,7.57947475 16.7415453,7.61275317 16.3310353,7.24329415 L12.0362375,3.37797611 Z"
                                fill="#000000" stroke="#fff" fill-rule="nonzero" />
                        </g>
                    </svg>
                </span>
            </button>
		</div>
	</div>
	<div class="card-body">
		<div class="form form-label-right">
            <div class="form-group row">
				<div class="col-lg-3" [formGroup]="searchGroup">
					<input type="text" class="form-control" name="searchText" placeholder="Search" value=""
					formControlName="searchTerm" /><small class="form-text text-muted"><b>Search</b> in all fields</small>
				</div>
				<div class="col-lg-3" [formGroup]="filterGroup">
					<select class="form-control" placeholder="Filter by Type" name="type" formControlName="type">
						<option value="">All</option>
						<option value='fastq'>FastQ</option>
						<option value='vcf'>VCF</option>
					</select><small class="form-text text-muted"><b>Filter</b> by Type</small>
				</div>
				<div class="col-lg-4" [formGroup]="filterGroup">
					<ng-select2
					  [data]="dropdownList"
					  placeholder="Select workspace"
					  [options]="options"
					  formControlName="workspace"
					  >
					</ng-select2>
					<small class="form-text text-muted"><b>Filter</b> by Workspace</small>
				</div>
            </div>
        </div>
		<ng-container *ngIf="grouping.getSelectedRowsCount()">
			<div class="form">
				<div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
					<div class="col-xl-12">
						<div class="form-group form-group-inline">
							<div class="form-label form-label-no-wrap">
								<label class="font-bold font-danger"><span>Selected records count:
										<b>{{ grouping.getSelectedRowsCount() }}</b></span></label>
							</div>
							<div>
								<button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-1"
									(click)="deleteSelected()">
									<i class="fa fa-trash"></i> Delete All
								</button>&nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>

		<div class="table-responsive angular-bootstrap-table">
			<table class="table table-head-custom table-vertical-center overflow-hidden">
				<thead>
					<th class="selection-cell-header" data-row-selection="true">
						<label class="checkbox checkbox-single"><input type="checkbox"
								(click)="grouping.selectAllRows()"
								[checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
					</th>
					<th>
						ID
						<app-sort-icon column="id" [activeColumn]="sorting.column"
							[activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
					</th>
					<th style="width: 35%; word-break: break-all;">
						File Name
						<app-sort-icon column="name" [activeColumn]="sorting.column"
							[activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
					</th>
					<th>
						Workspace
						<app-sort-icon column="workspace" [activeColumn]="sorting.column"
							[activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
					</th>
					<th>
						Type
						<app-sort-icon column="type" [activeColumn]="sorting.column"
							[activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
					</th>
					<th>
						Size
						<app-sort-icon column="size" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
							(sort)="sort($event)"></app-sort-icon>
					</th>
					<th>
						Created Date
						<app-sort-icon column="createdAt" [activeColumn]="sorting.column"
							[activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
					</th>
					<th>Actions</th>
				</thead>
				<tbody>
					<tr *ngFor="let uploadFile of uploadService.items$ | async">
						<td class="selection-cell">
							<label class="checkbox checkbox-single"><input type="checkbox"
									(click)="grouping.selectRow(uploadFile.id)"
									[checked]="grouping.isRowSelected(uploadFile.id)" />
								<span></span>
							</label>
						</td>
						<td>{{ uploadFile.id }}</td>
						<td>{{ uploadFile.sample_name }}</td>
						<td>{{ uploadFile.workspace_name }}</td>
						<td><span class="label label-lg label-inline" [ngClass]="getStatusCSS(uploadFile.file_type)">{{ uploadFile.file_type }}
                        </span></td>
						<td>{{ formatBytes(uploadFile.file_size) }}</td>
						<td>{{ uploadFile.createdAt }}</td>
						<td>

							<!-- <a title="Edit workspace" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
								(click)="edit(workspace.id)">
								<span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
									class="svg-icon svg-icon-md svg-icon-primary">
								</span>
							</a> -->

							<a title="Delete upload" class="btn btn-icon btn-light btn-hover-danger btn-sm"
								(click)="delete(uploadFile.id)">
								<span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
									class="svg-icon svg-icon-md svg-icon-danger">
								</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
			[isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
	</div>
</div>
