<div class="table-responsive" style="padding-top: 20px;" *ngIf='!htmlData'>
	<table class="table table-borderless table-vertical-center" style="table-layout: fixed;">
		<thead>
			<tr>
				<th class="p-0" style="width: 10%"></th>
				<th class="p-0 min-w-140px"></th>
			</tr>
		</thead>
		<tbody style="word-break: break-all;">
			<tr>
				<td class="pl-0 text-right">
				    <div class="text-dark font-weight-bolder mb-1 font-size-lg">Name</div>
				</td>
				<td>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="searchText" placeholder="Name" value=""/><small class="form-text text-muted"><b>Enter</b> report's name</small>
                    </div>
				</td>
			</tr>
			<tr>
				<td class="pl-0 text-right" style="vertical-align: top;">
				<div class="text-dark font-weight-bolder mb-1 font-size-lg">SNV / INDEL</div>
				</td>
                    
				<td>
					<div class="table-responsive angular-bootstrap-table" style="width: 100%">
						<div>
							<table style="table-layout: fixed; overflow-x: auto !important; width: 100%"
								class="table table-head-custom table-vertical-center overflow-hidden variant-list-table">
								<thead style="background: #1bc5bd;">
									<th class="selection-cell-header" style="width:50px" data-row-selection="true">
										<label class="checkbox checkbox-single"><input type="checkbox"
												(click)="grouping.selectAllRows()"
												[checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
									</th>
									<th class="width-100" style="color: #fff !important;">
										Gene
										<app-sort-icon column="gene" [activeColumn]="sorting.column"
											[activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
									</th>
									<th class="width-125" style="color: #fff !important;">
										Transcript
										<app-sort-icon column="transcript" [activeColumn]="sorting.column"
											[activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
									</th>
									<th class="width-110" style="color: #fff !important;">
										cDNA
									</th>
									<th class="width-100" style="color: #fff !important;">
										Coverage
									</th>
									<th class="width-120" style="color: #fff !important;">
										gAD(ALL, AFR, AMR)
									</th>
									<th class="width-120" style="color: #fff !important;">
										Classification
										<app-sort-icon column="classification" [activeColumn]="sorting.column"
											[activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
									</th>
									<th class="width-100" style="color: #fff !important;">ACTIONS</th>
								</thead>
								<tbody>
									<tr *ngFor="let variant of varianSelectedtListService.items$ | async">
										<td class="selection-cell">
											<label class="checkbox checkbox-single"><input type="checkbox"
													(click)="grouping.selectRow(variant.id)"
													[checked]="grouping.isRowSelected(variant.id)" />
												<span></span>
											</label>
										</td>
										<!-- <td>{{ variant.id }}</td> -->
										<td>
											<span>{{ variant.gene }}</span>
										</td>
										<td>
											<span>{{ variant.transcript_id }}</span>
										</td>
										<td>
											<span>{{ variant.cnomen }}</span>
										</td>
										<td>
											<span>{{ variant.coverage }}</span>
										</td>
										<td>
											<span>{{ variant.gnomad }}</span><br>
											<span>{{ variant.gnomAD_AFR }}</span><br>
											<span>{{ variant.gnomAD_AMR }}</span>
										</td>
	
										<td>
											<span [class]="getVariantClass(variant.classification)"
												class="classification">{{ variant.classification
												}}</span>
										</td>
										<td>

							
										<a title="Delete workspace" class="btn btn-icon btn-light btn-hover-danger btn-sm"
											(click)="delete(variant)">
											<span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
											class="svg-icon svg-icon-md svg-icon-danger">
											</span>
										</a>
										</td>
	
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</td>
			</tr>
			<tr>
				<td >
				</td>
				<td>
					<div style="width: fit-content;">
					<a (click)="createReport()"
					  class="btn btn-primary btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2">
					  <span
						[inlineSVG]="'./assets/media/svg/icons/Files/File.svg'"
						cacheSVG="true"
						class="svg-icon svg-icon-lg"
					  ></span>
					  <span class="d-none d-md-inline">Create Report</span>
					</a>
				  </div>
				</td>
			</tr>
			
		</tbody>
	</table>
</div>

<div *ngIf='htmlData' style="padding-left: 5%; padding-right: 5%; padding-top: 5%; background: #f2f2f2; padding-bottom: 5%;">
	<div style="margin: 10px auto;
    background-color: #fff;
    padding: 1cm 1.2cm;" [innerHTML]="htmlData"></div>
</div>