<div class="card card-custom gutter-b">
    <div class="card-header">
		<div class="card-title">
			<h3 class="card-label"></h3>
		</div>
		<div class="card-toolbar">
			<a style="margin-left: 10px;" type="button" class="btn btn-light" routerLink="/workspaces">
				<i class="fa fa-arrow-left"></i>Back
			</a>
		</div>
	</div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-5">
                <div class="table-responsive angular-bootstrap-table">
                    <table class="table table-head-custom table-vertical-center overflow-hidden">
                        <thead>
                            <th class="selection-cell-header">
                                <label class="checkbox checkbox-single">
                                    <input type="checkbox">
                                </label>
                            </th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Variants</th>
                            <th>Classification</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="selection-cell">
                                    <label class="checkbox checkbox-single">
                                        <input type="checkbox" [checked]="isChecked" (change)="onChange($event)">
                                        <span></span>
                                    </label>
                                </td>
                                <td>GM6426</td>
                                <td>sample1</td>
                                <td>261261</td>
                                <td>control 1</td>
                            </tr>
                            <tr>
                                <td class="selection-cell">
                                    <label class="checkbox checkbox-single">
                                        <input type="checkbox" [checked]="isChecked" (change)="onChange($event)">
                                        <span></span>
                                    </label>
                                </td>
                                <td>GM6428</td>
                                <td>sample3</td>
                                <td>271197</td>
                                <td>control 2</td>
                            </tr>
                            <tr>
                                <td class="selection-cell">
                                    <label class="checkbox checkbox-single">
                                        <input type="checkbox" [checked]="isChecked" (change)="onChange($event)">
                                        <span></span>
                                    </label>
                                </td>
                                <td>GM6429</td>
                                <td>sample2</td>
                                <td>265034</td>
                                <td>control 3</td>
                            </tr>
                            <tr>
                                <td class="selection-cell">
                                    <label class="checkbox checkbox-single">
                                        <input type="checkbox" [checked]="isChecked" (change)="onChange($event)">
                                        <span></span>
                                    </label>
                                </td>
                                <td>GM6430</td>
                                <td>sample4</td>
                                <td>269952</td>
                                <td>case</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-7">
                <div id="chartdiv" [hidden]="total == 4" style="width: 100%; height: 500px"></div>
                <div id="chartdiv" [hidden]="total == 3" style="width: 100%; height: 500px"></div>
                <div id="chartdiv" [hidden]="total == 2" style="width: 100%; height: 500px"></div>
                <div id="chartdiv" [hidden]="total == 1" style="width: 100%; height: 500px"></div>
            </div>
        </div>
    </div>
</div>
