<div class="card card-custom gutter-b">
    <div class="card-header">
		<div class="card-title">
			<h3 class="card-label"></h3>
		</div>
		<div class="card-toolbar">
			<a style="margin-left: 10px;" type="button" class="btn btn-light" routerLink="/workspaces">
				<i class="fa fa-arrow-left"></i>Back
			</a>
		</div>
	</div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-5">
                <div class="table-responsive angular-bootstrap-table">
                    <table class="table table-head-custom table-vertical-center overflow-hidden">
                        <thead>
                            <th class="selection-cell-header">
                                <label class="checkbox checkbox-single">
                                    <input type="checkbox">
                                </label>
                            </th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Variants</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="selection-cell">
                                    <label class="checkbox checkbox-single">
                                        <input type="checkbox" value="6427" [checked]="isChecked"  (change)="onChange($event)">
                                        <span></span>
                                    </label>
                                </td>
                                <td>GM6427</td>
                                <td>sample1</td>
                                <td>261261</td>
                            </tr>
                            <tr>
                                <td class="selection-cell">
                                    <label class="checkbox checkbox-single">
                                        <input type="checkbox" value="6428" [checked]="isChecked" (change)="onChange($event)">
                                        <span></span>
                                    </label>
                                </td>
                                <td>GM6428</td>
                                <td>sample3</td>
                                <td>271197</td>
                 
                            </tr>
                            <tr>
                                <td class="selection-cell">
                                    <label class="checkbox checkbox-single">
                                        <input type="checkbox" value="6429" [checked]="isChecked" (change)="onChange($event)">
                                        <span></span>
                                    </label>
                                </td>
                                <td>GM6429</td>
                                <td>sample2</td>
                                <td>265034</td>

                            </tr>
                            <tr>
                                <td class="selection-cell">
                                    <label class="checkbox checkbox-single">
                                        <input type="checkbox" value="6430" [checked]="isChecked" (change)="onChange($event)">
                                        <span></span>
                                    </label>
                                </td>
                                <td>GM6430</td>
                                <td>sample4</td>
                                <td>269952</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
			<div class="col-lg-7" *ngIf="sampleIds.length == 4">
				<div style="width: 100%;">
					<img src="/assets/images/venn.png" alt="">
				</div>
			</div>
            <div class="col-lg-7" *ngIf="sampleIds.length < 4">
                <div #chartdiv id="chartdiv" style="width: 100%;" [class] ="getClass()"></div>
            </div>
        </div>
    </div>
</div>
