<div class="row mt-5">
    <div class="col-lg-8">
        <textarea class="form-control form-control-lg mb-3 ml-3" name="" id="" rows="15"></textarea>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
        <textarea class="form-control form-control-lg mb-3" name="" id="" rows="15" disabled style="overflow: hidden; font-size: small; height: 335px;">
            Workspaces Information

            Create Date: 3/10/2021
            Last Updated: 6/15/2021
            Access Level: Owner

            Owners
            quoclinh@ymail.com
            john.me@gmail.com

            S3 Bucket
            Name: fc-6f1a2833-85a8-4955-bfdc-770ff4d76767
            Location: US
            Open in browser

        </textarea>
    </div>
</div>