<mat-card>
	<mat-card-content  *ngIf="isLoaded" >
		<h2 class="example-h2" style="margin: 20px;">{{ analysisName }}</h2>
		<mat-tab-group class="demo-tab-group" (selectedTabChange)="tabClick($event)">
			<mat-tab *ngIf='type == "vcf"' label="Variant List">
				<div class="demo-tab-content">
					<app-variant-list [id] = "id"></app-variant-list>
				</div>
			</mat-tab>
			<mat-tab label="Info">
				<div class="demo-tab-content">
					<app-analysis-info [id] = "id"></app-analysis-info>
				</div>
			</mat-tab>
			<mat-tab  #report  label="QC">
				<div class="demo-tab-content">
					<app-analysis-report [id] = "id" [type]="type"></app-analysis-report>
				</div>
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>