<mat-card  *ngIf="isLoaded" >
	<mat-card-content>
		<h2 class="example-h2">{{ analysisName }}</h2>
		<mat-tab-group class="demo-tab-group">
			<mat-tab label="Variant List">
				<div class="demo-tab-content">
					<app-variant-list></app-variant-list>
				</div>
			</mat-tab>
			<mat-tab label="Info">
				<div class="demo-tab-content">
					<app-analysis-info></app-analysis-info>
				</div>
			</mat-tab>
			<mat-tab label="Report">
				<div class="demo-tab-content">
					<app-analysis-report></app-analysis-report>
				</div>
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>