<div class="table-responsive" style="padding-top: 20px" *ngIf="info">
	<table class="table table-borderless table-vertical-center">
		<thead>
			<tr>
				<th class="p-0" style="width: 250px"></th>
				<th class="p-0 min-w-140px"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="pl-0">
				<div class="text-dark font-weight-bolder mb-1 font-size-lg">
						Pipeline</div>
				</td>
				<td class="text-left">
					<span>
						<a style="color: #1bc5bd !important" class="text-hover-primary">
							{{ info.pipeline }}
						</a>
					</span>
				</td>
			</tr>
			<tr>
				<td class="pl-0">
				<div class="text-dark font-weight-bolder mb-1 font-size-lg">
						Project</div>
				</td>
				<td class="text-left">
					<span>
						<a style="color: #1bc5bd !important" class="text-hover-primary">
							{{ info.project }}
						</a>
					</span>
				</td>
			</tr>
			<tr>
				<td class="pl-0">
					<div class="text-dark font-weight-bolder mb-1 font-size-lg">
						Samples
					</div>
				</td>
				<td class="text-left">
					<span>
						<a style="color: #1bc5bd !important" class="text-hover-primary">
							{{ info.samples }}
						</a>
					</span>
				</td>
			</tr>
			<tr>
				<td class="pl-0" style="vertical-align: top;">
				<div class="text-dark font-weight-bolder mb-1 font-size-lg">
						Files</div>
				</td>
				<td class="text-left">
						<div class="file-section">
							<div class="section">
								<h5>QC, Trim</h5>
								<div class="files">
									<div><p class="filename">trim/EX1.trim.report.html</p></div>
								</div>
							</div>
							<div class="section">
								<h5>BWA</h5>
								<div class="files">
									<div><p class="filename">bwa/EX1.hg19.bam.bai</p></div>
									<div><p class="filename">bwa/EX1.hg19.bam</p></div>
								</div>
							</div>
							<div class="section">
								<h5>Summary</h5>
								<div class="files">
									<div><p class="filename">summary/EX1.hg19.alignment-summary.png</p></div>
								</div>
							</div>
							<div class="section">
								<h5>Remove duplicates</h5>
								<div class="files">
									<div><p class="filename">dedup/EX1.hg19.dedup.bam.bai</p></div>
									<div><p class="filename">dedup/EX1.hg19.dedup.bam</p></div>
								</div>
							</div>
							<div class="section">
								<h5>Coverage</h5>
								<div class="files">
									<div><p class="filename">coverage/EX1.hg19.dedup.coverage-summary.xls</p></div>
								</div>
							</div>
						</div>
				</td>
			</tr>
			
		</tbody>
	</table>
</div>