<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Samples list</h3>
      </div>
      <div class="card-toolbar">
        <button type="button" class="btn btn-primary">Add</button>&nbsp;
        <button type="button" class="btn btn-primary">Move</button>&nbsp;
        <button type="button" class="btn btn-primary">Share</button>&nbsp;
        <button type="button" class="btn btn-primary">Invite</button>&nbsp;
        <button type="button" class="btn btn-primary">Delete</button>&nbsp;
        <button type="button" class="btn btn-primary">Tags</button>&nbsp;
        <button type="button" class="btn btn-primary">Columns</button>&nbsp;
      </div>
    </div>
    <div class="card-body">
      <!-- begin: Filtration form -->
      <div class="form form-label-right">
        <div class="form-group row">
          <div class="col-lg-4">
            <div class="row" [formGroup]="filterGroup">
              <div class="col-lg-6">
                <select class="form-control" name="status" placeholder="Filter by Depth" formControlName="status">
                  <option value="">All</option>
                  <option value="1">Susspended</option>
                  <option value="2">Active</option>
                  <option value="3">Pending</option>
                </select><small class="form-text text-muted"><b>Filter</b> by Depth</small>
              </div>
              <div class="col-lg-6">
                <select class="form-control" placeholder="Filter by Type" name="type" formControlName="type">
                  <option value="">All</option>
                  <option value="1">Chromosome 1</option>
                  <option value="2">Chromosome 2</option>
                </select><small class="form-text text-muted"><b>Filter</b> by Chromosome</small>
              </div>
            </div>
          </div>
          <div class="col-lg-2" [formGroup]="searchGroup">
            <input type="text" class="form-control" name="searchText" placeholder="Enter gene name" value=""
              formControlName="searchTerm" /><small class="form-text text-muted"><b>Enter</b> gene name</small>
          </div>
          <div class="col-lg-2">
            <div class="row">
              <div class="col-lg-4">
                <select class="form-control" name="">
                  <option value=""></option>
                  <option value="">≥</option>
                  <option value="">≤</option>
                </select>
              </div>
              <div class="col-lg-4" style="padding-left: 0px;">
                <input type="text" class="form-control">
              </div>
            </div>
            <small class="form-text text-muted"><b>Filter</b> by gnomAD</small>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div style="margin-top: 10px;">QUAL ≥</div>
              <div class="col-lg-4">
                <input class="form-control" type="text">
              </div>
              <div style="margin-top:10px">QUAL ≤</div>
              <div class="col-lg-4">
                <input class="form-control" type="text">
              </div>
            </div>
            <small class="form-text text-muted"><b>Filter</b> by Quality</small>
          </div>
        </div>
      </div>
      <!-- end: Filtration form -->
  
      <!-- begin: Grouping -->
      <ng-container *ngIf="grouping.getSelectedRowsCount()">
        <div class="form">
          <div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
            <div class="col-xl-12">
              <div class="form-group form-group-inline">
                <div class="form-label form-label-no-wrap">
                  <label class="font-bold font-danger"><span>Selected records count:
                      <b>{{ grouping.getSelectedRowsCount() }}</b></span></label>
                </div>
                <div>
                  <button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-1"
                    (click)="deleteSelected()">
                    <i class="fa fa-trash"></i> Delete All
                  </button>&nbsp;
                  <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1"
                    (click)="fetchSelected()">
                    <i class="fa fa-stream"></i> Fetch Selected
                  </button>&nbsp;
                  <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1"
                    (click)="updateStatusForSelected()">
                    <i class="fa fa-sync-alt"></i> Update Status
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- end: Grouping -->
  
      <!-- begin:Table -->
      <div class="table-responsive angular-bootstrap-table">
        <table class="table table-head-custom table-vertical-center overflow-hidden">
          <thead>
            <th class="selection-cell-header" data-row-selection="true">
              <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectAllRows()"
                  [checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
            </th>
            <th>
              ID
              <app-sort-icon column="id" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>
              NAME
              <app-sort-icon column="firstName" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>
              OWNER
              <app-sort-icon column="lastName" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>
              CREATED
              <app-sort-icon column="email" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>
              DATATYPE
              <app-sort-icon column="gender" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>
              CONTROL
              <app-sort-icon column="status" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>
              GENOTYPE
              <app-sort-icon column="type" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>
              NO
              <app-sort-icon column="type" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>ACTIONS</th>
          </thead>
          <tbody>
            <tr>
              <td class="selection-cell">
                <label class="checkbox checkbox-single"><input type="checkbox" />
                  <span></span>
                </label>
              </td>
              <td>60950</td>
              <td>EX1</td>
              <td>info@genetics.vn</td>
              <td>6/8/2021</td>
              <td>panel</td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <a title="Edit analysis" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                  <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-primary">
                  </span>
                </a>
              </td>
            </tr>
            <tr>
                <td class="selection-cell">
                  <label class="checkbox checkbox-single"><input type="checkbox"/>
                    <span></span>
                  </label>
                </td>
                <td>90234</td>
                <td>EX2</td>
                <td>namle@genetics.vn</td>
                <td>10/08/2021</td>
                <td>no panel</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <a title="Edit analysis" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                    <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md svg-icon-primary">
                    </span>
                  </a>
                </td>
            </tr>
            <tr>
                <td class="selection-cell">
                  <label class="checkbox checkbox-single"><input type="checkbox" />
                    <span></span>
                  </label>
                </td>
                <td>60129</td>
                <td>EX3</td>
                <td>cuongnguyen@genetics.vn</td>
                <td>02/18/2018</td>
                <td>panel</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <a title="Edit analysis" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                    <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md svg-icon-primary">
                    </span>
                  </a>
                </td>
            </tr>
            <tr>
                <td class="selection-cell">
                  <label class="checkbox checkbox-single"><input type="checkbox"/>
                    <span></span>
                  </label>
                </td>
                <td>78612</td>
                <td>EX4</td>
                <td>quocdong@genetics.vn</td>
                <td>05/22/2010</td>
                <td>no panel</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <a title="Edit analysis" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                    <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md svg-icon-primary">
                    </span>
                  </a>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end: Table -->
      <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
       (paginate)="paginate($event)"></app-paginator>
    </div>
  </div>