<div class="aside-primary d-flex flex-column align-items-center flex-row-auto">
  <!--begin::Primary-->
  <div
    class="aside-brand d-flex flex-column align-items-center flex-column-auto py-5 py-lg-12"
    id="kt_brand"
    [ngClass]="brandClasses"
  >
    <!--begin::Logo-->
    <a routerLink="/" class="brand-logo">
      <img
        alt="Logo"
        src="./assets/media/logos/logo-letter-2.png"
        class="max-h-30px"
      />
    </a>
    <!--end::Logo-->
  </div>
  <!--begin::Nav Wrapper-->
  <div
    class="aside-nav d-flex flex-column align-items-center flex-column-fluid py-5 scroll scroll-pull"
  >
    <!--begin::Nav-->
    <!--begin::Nav-->
    <ul class="nav flex-column" role="tablist">
     
    </ul>
    <!--begin::Item-->
    <!--end::Nav-->
  </div>
  <!--end::Nav Wrapper-->
  <!--begin::Footer -->
  <app-topbar
    class="aside-footer d-flex flex-column align-items-center flex-column-auto py-4 py-lg-10"
  ></app-topbar>
  <!--end::Footer-->
  <!--end::Primary-->
</div>
<ng-container>
  <!--begin::Secondary-->
  <div class="aside-secondary d-flex flex-row-fluid">
    <!--begin::Workspace-->
    <div class="aside-workspace scroll scroll-push my-2">
      <!--begin::Tab Content-->
      <div class="tab-content">
        <!--begin::Tab Pane-->
        <div
          class="tab-pane fade"
          id="kt_aside_tab_2"
          [ngClass]="{ 'show active': activeTabId === TABS[2] }"
        >
          <app-aside-static
            class="aside-menu-wrapper flex-column-fluid"
            id="kt_aside_menu_wrapper"
          >
		</app-aside-static>
          <!-- <app-aside-dynamic class="aside-menu-wrapper flex-column-fluid"
            id="kt_aside_menu_wrapper"></app-aside-dynamic> -->
        </div>
        <!--end::Tab Pane-->
      </div>
    </div>
  </div>
</ng-container>
